---
page_title: "Provider: CIDR"
subcategory: ""
description: |-
  The CIDR provider is used to manipulate network addresses, such as IPv4 and IPv6 addresses, subnets, masks and prefixes.
---

# CIDR Provider

The CIDR provider is used to manipulate network addresses, such as IPv4 and IPv6 addresses, subnets, masks and prefixes.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{- /* No schema in this provider, so no need for this: .SchemaMarkdown | trimspace */ -}}
